<button type="button" {{action (action this.attrs.changePage) 'next'}} disabled={{gte page pageTotal}}>
  Next page !
</button>
<button type="button" {{action (action this.attrs.changePage) 'prev'}} disabled={{lte page 1}}>
  Prev page !
</button>
<input value={{searchTerms}} oninput={{action 'updateSearchTerm' value='target.value'}}>
<br>
<label>
  <input type="checkbox" checked={{caseSensitive}} onclick={{action 'updateCaseSensitive' value='target.checked'}}>
  case sensitive
</label>
<label>
  <input type="checkbox" checked={{phraseSearch}} onclick={{action 'updatePhraseSearch' value='target.checked'}}>
  match phrase
</label>
<label>
  <input type="checkbox" checked={{highlightAll}} onclick={{action 'updateHighlightAll' value='target.checked'}}>
  highlightAll
</label>
<label>page {{page}} of {{pageTotal}}</label>
